.contact-form-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("img/fitness.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  width: 90%;
  padding: 1rem 1.5rem;
  position: relative;
}

.contact-form-title {
  color: white;
  text-align: center;
  padding-bottom: 1.3rem;
  letter-spacing: 0.1rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

input,
textarea {
  padding: 0.7rem 0.5rem;
  margin-bottom: 1.5rem;
}

.contact-form button {
  width: 50%;
  margin: 0 auto;
  border: none;
}

@media (min-width: 768px) {
  .form-wrapper {
    width: 70%;
    padding: 1rem 1.5rem;
  }

  .contact-form-wrapper {
    min-height: 60vh;
  }
}

@media (min-width: 1080px) {
  .form-wrapper {
    width: 40%;
    padding: 2rem 2.5rem;
  }

  .contact-form-wrapper {
    min-height: 90vh;
  }

  .contact-form button:hover {
    border: none;
  }
}
